<footer>
    <div class="divider mb-0"></div>
    <div class="flex justify-between items-center px-4 pb-2">
        <span>Made with ❤️ in Germany</span>
        <div>
            Photos from <a href="https://unsplash.com">Unsplash</a>
        </div>
    </div>
</footer>