---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import MainLayout from "./MainLayout.astro";
---
<MainLayout>
	<div class="md:container mx-auto">
		<Navbar />
		<aside>
			<slot />
		</aside>
		<Footer />
	</div>
</MainLayout>