---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { ViewTransitions } from "astro:transitions";
import MainLayout from "../../layouts/MainLayout.astro";

export async function getStaticPaths() {
	const images = await getCollection("images");
	return images.map((entry) => ({
		params: { image: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
---
<MainLayout transition:animate="none">
	<ViewTransitions />
	<div transition:animate="fade" class="w-screen h-screen flex justify-center items-center">
		<Image
			class="max-w-screen max-h-screen w-auto h-auto absolute"
			widths={[360, 720, 1024, 1920]}
			sizes="(max-width: 360px) 360px, (max-width: 720px) 720px, (max-width: 1024px) 1024px, (max-width: 1920px) 1920px"
			src={entry.data.src}
			alt={entry.data.title}
		/>
	</div>	
</MainLayout>